@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-100: #172530; 
  --color-brand-200: #243543;  
  --color-brand-300: #ffb914;
  --color-brand-400: #97b1c0;
  --color-brand-500: #ff4f12;  
  --color-brand-600: #f87b27;  
} 

:root {
  --font-pacifico: 'Pacifico', cursive;
  --font-worksans: 'Work Sans', sans-serif;
}

@layer utilities {
  .font-pacifico {
    font-family: var(--font-pacifico);
  }

  .font-worksans {
    font-family: var(--font-worksans);
  }
}




